h1 {
  font-family: "Latin Modern Roman Dunhill", serif;
  font-size: 44px;
  line-height: 1em;
  text-align: center;
}
h2, h3 {
  font-family: "Latin Modern Roman Dunhill", serif;
  line-height: 1em;
  margin: .25em;
  padding: 0;
}

h3 {
  margin-bottom: 2em;
}

blockquote p {
  font-family: "Latin Modern Roman Dunhill", serif;
  text-align: center;
}
p {
  font-family: Baskerville, serif;
  line-height: 1.4em;
  text-indent: 1em;
  margin: .5em;
}
