h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
h1 {
  font-family: "Latin Modern Roman Dunhill", serif;
  font-size: 44px;
  line-height: 1.1em;
}

div.rights {
  font-family: "Latin Modern Roman Dunhill", serif;
  font-size: 14px;
  margin-top: 3em;
  text-align: center;
}

div.rights:before {
  content: "Rights: ";
  font-family: "Latin Modern Roman Dunhill", serif;
}

p.author {
  text-align: center;
  font-family: "Latin Modern Roman Dunhill", serif;
}


p.date:before {
  content: "Publication date: ";
}
p.date {
  text-align: center;
  font-family: "Latin Modern Roman Dunhill", serif;
}
h2 {
  font-size: 20px;
}

h2, h3 {
  font-family: "Latin Modern Roman Dunhill", serif;
  line-height: 1em;
  margin: .25em;
  padding: 0;
}

h3 {
  margin-bottom: 1em;
}

p {
  font-family: Baskerville, serif;
  line-height: 1.4em;
  text-indent: 1em;
  margin: .5em;
}

blockquote p {
  text-align: left;
  text-indent: 0;
  font-style: italic;
  padding-left: 2em;
  max-width: 90%;
  margin: 2em 0;
}
